h3 {
  text-align: center;
}

#title.row {
  background-color: #8f8f8f;
}

.kitchen-image {
  height: 340px;
  padding-top: 10px;
}

.big-heading {
  color: black;
  padding-top: 128px;
}

.fa-bullseye, .fa-circle-check {
  font-size: 5rem;
  padding: 5% 40% 3%;
}

.fa-bullseye:hover, .fa-circle-check:hover {
  color: #8f8f8f;
}

.plans {
  background-color: #8f8f8f;
  text-align: center;
}

.contact-form{
  padding-left: 38%
}

.logo {
  padding-top: 50px;
}
